@import '_config.css';

/* Reset Style Bawaan dari Browser */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Material Symbols Google */

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 1,
    'wght' 500,
    'GRAD' 0,
    'opsz' 24;
}

/* Coding CSS */

body {
  margin: 0 auto;
  font-family: "Manrope";
  color: var(--color-black);
}


/* BODY */

.container-lr{
  background-color: var(--color-light-gray);
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
}

.container-lr-box{
  background-color: var(--color-white);
  padding: var(--padding-lr);
  gap: var(--gap-lr);

  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-evenly;

  width: 80%;

  border-radius: var(--border-radius-lr);
}

.container-lr-1{
  display: flex;
  justify-content: flex-start;
  align-items: center;

  flex-grow:1;
}

.img-lr{
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border-radius: var(--border-radius-step-1);
}

.container-lr-2{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  gap:var(--gap-lr-light);
  flex-grow:3;
}

.container-lr-2-1{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--gap-lr-light);

  flex-grow: 1;
}

.container-lr-2-2{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  gap: var(--gap-lr-light);

  flex-grow: 2;
}

.password-holder{
  
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: var(--gap-lr-light);
}

.input-lr {
  background-color: transparent;
  width: 100%;
  padding: 15px 12px;
  border: 1px solid var(--color-light-gray); 
  border-radius: var(--border-radius-step-2);
  font-size: 16px;
  box-sizing: border-box;
  transition:var(--transition-cubic-bezier-faster);

  flex-grow: 9;
}

.input-lr:focus {
  background-color: var(--color-secondary);
  color: var(--color-white);
  outline: none;
  border-color: var(--color-primary);
  box-shadow: 0 1px 1px rgba(26, 115, 232, .075), 0 0 8px rgba(26, 115, 232, .2); /* Bayangan biru halus */
}

.input-lr::placeholder {
  font-family: "Manrope";
  color: var(--color-black); 
  font-size: 14px; 
  font-weight: normal;
}

.input-lr:focus::placeholder {
  font-family: "Manrope";
  color: var(--color-white); 
  font-size: 14px; 
  font-weight: normal;
}

.input-lr-icon{
  background-color: transparent;
  padding: 15px;
  border: 1px solid var(--color-light-gray); 
  border-radius: var(--border-radius-step-2);
  font-size: 16px;
  box-sizing: border-box;
  transition:var(--transition-cubic-bezier-faster);

  flex-grow: 1;

  cursor: pointer;
  
}



.container-lr-3{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  gap:var(--gap-lr-mostlight)

}
.ask-it-management {
  text-decoration: none;
  color: var(--color-primary);                /* "LVHA" (Link, Visited, Hover, Active)  */
}


.ask-it-management:visited {                  /* "LVHA" (Link, Visited, Hover, Active)  */
  color: var(--color-black);
}

.ask-it-management:hover {                     /* "LVHA" (Link, Visited, Hover, Active)  */
  color: var(--color-secondary);
}

.ask-it-management:active {
  color: var(--color-tertiary);               /* "LVHA" (Link, Visited, Hover, Active)  */
}

.container-lr-4{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;

  gap: var(--gap-lr-light);

  flex-grow:1;
}

.submit-lr{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding-inside-lr);

  background-color: var(--color-primary);
  color: var(--color-white);

  cursor: pointer;

  border: none;
  border-radius: var(--border-radius-step-1);

  transition: var(--transition-cubic-bezier-faster);
}

.submit-lr:hover{
  background-color: var(--color-tertiary);
}

.another-submit-lr{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding-inside-lr);

  background-color: transparent;
  color: var(--color-secondary);

  cursor: pointer;

  border: none;
  border-radius: var(--border-radius-step-1);

  text-decoration: none;

  transition: var(--transition-cubic-bezier-faster);
}

.another-submit-lr:hover{
  background-color:var(--color-primary-hover) ;
}

/* RESPONSIF KE HP */

@media (max-width: 768px) {

  .container-lr-box{
    padding: var(--padding-lr-phone);
  }

  .container-lr-box{
    width: 85%;
    flex-wrap: wrap;
  }
  .container-lr-2 {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .container-lr-1, .container-lr-2, .container-lr-3{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
  }
}