@import "_config.css";

/* Reset Style Bawaan dari Browser */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Material Symbols Google */

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 500, "GRAD" 0;
}

/* Coding CSS */

body {
  margin: 0 auto;
  font-family: "Manrope";
  background-color: var(--color-white);
  color: var(--color-black);
}

#navbar-account-center {
  height: 90px;
  max-width: 100%;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1100;

  transition: var(--transition);
}

.container-navbar-account-center {
  background-color: var(--color-black);
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%); /* For Safari support */

  height: inherit;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-button-navbar-account-center {
  color: var(--color-white);
  font-size: 0.75rem;
  font-weight: bold;

  transition: var(--transition);
}

/* body */

.container-account-center {
  display: flex;
  flex-direction: column;
  position: relative;

  margin: var(--margin-body-except-index);

  align-items: stretch;

  padding: var(--padding-notop);

  gap: var(--gap-parent);
}

.container-acc-1{
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.icon-account-center{
    background-color: blue;
}

.container-acc-2 {
    background-color: var(--color-light-gray);
    padding: var(--padding-default);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  height: 10rem;

  gap: var(--gap-children);
  border-radius: var(--border-radius-step-1);
}

.placeholder-photoprofile-acc {
    display: flex;
    height: 90%;
}

.placeholder-photoprofile-acc img {
    border-radius: 50%;
}




.container-photoprofile{
    display: flex;
    flex-direction: column;

    gap: var(--gap-children-step-3);
}
.container-button-photoprofile{
    display: flex;
    flex-direction: row;

    gap: var(--gap-children-step-3);
}

.button-acc {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding-default);

  background-color: var(--color-primary);
  color: var(--color-white);

  cursor: pointer;

  border: none;
  border-radius: var(--border-radius-step-3);

  gap: var(--gap-children-step-3);
}

.container-acc-3{
    background-color:var(--color-light-gray);
    display: flex;
    flex-direction: column;
    padding: var(--padding-default);
    gap: var(--gap-children);

    border-radius: var(--border-radius-step-1);
}

.container-button-edit{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container-info-acc{
    background-color: var(--color-dark-gray);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;

    padding: var(--padding-default);
    
    gap: var(--gap-children-step-3);

    border-radius: var(--border-radius-step-3);
}

.container-biodata{
    display:flex;
    flex-direction: column;
    gap: var(--gap-children-step-2-5);
}

.info-left{
    width:35%;
    max-width:35%;
}

.info-right{
    display: flex;
    font-weight: bold;
    width:65%;
    max-width:65%;

    word-wrap: break-word;
}

.container-acc-4{
  display: flex;
  flex-direction: column;
  
  margin-bottom: 20px;

  width: 100%;

  gap: var(--gap-children);
}

.danger-zone-acc{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  justify-content: space-between;

  gap: var(--gap-children-step-3);

  font-size: 2rem;
  font-weight: bolder;
}

.danger-zone-button-container{
  display: flex;
  flex-wrap: wrap;

  gap: var(--gap-children-step-3);

}

.danger-zone-button{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: var(--padding-default);

  background-color: var(--color-red-darker);
  color: var(--color-white);

  cursor: pointer;

  border: none;
  border-radius: var(--border-radius-step-3);

  gap: var(--gap-children-step-3);

  font-size: medium;
  font-weight: bold;

  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  
}

@media (max-width: 768px) {

  .container-account-center{
    padding:var(--padding-notop-small);
  }
}