/* Reset Style Bawaan dari Browser */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Material Symbols Google */

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 1,
    'wght' 500,
    'GRAD' 0,
    'opsz' 24;
}

/* Custom Properties */

:root {
  --gap-container: 10rem;
  --gap-parent: 3rem;
  --gap-children: 2rem;
  --gap-children-step-2:1rem;
  --gap-children-step-3:0.5rem;
  --gap-lr:2rem;
  --gap-lr-light:1rem;
  --gap-lr-lighter:0.5rem;
  --gap-lr-mostlight:0.25rem;
  
  --padding-navbar:30px;
  --padding-default: 15px;
  --padding-default-large:20px;
  --padding-notop:0px 15px;
  --padding-noside:15px 0px;
  --padding-lr: 5rem 2rem;
  --padding-lr-phone:5rem 2rem;
  --padding-inside-lr:0.5rem 2rem;

  --margin-default:0rem 5rem;
  --margin-body-except-index:10rem 5rem 0rem 5rem;
  --margin-footer: 15rem 0rem 0rem 0rem;
  --margin-right: 0rem 5rem 0rem 0rem;
  --margin-left: 0rem 0rem 0rem 5rem;
  --margin-right-small: 0rem 2rem 0rem 0rem;
  --margin-left-small: 0rem 0rem 0rem 2rem;

  --bg-hero: url('https://i.postimg.cc/qqw223wQ/bocil.jpg');
  --bg-hero-analisis: url('https://i.postimg.cc/7YWH7Cw9/petani.png');

  --border-radius-step-1:30px;
  --border-radius-step-2:20px;
  --border-radius-step-3:15px;
  --border-radius-lr:40px;

  --height-text-hero:10rem;

  --transition:all 0.5s ease;
  --transition-cubic-bezier-faster:all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  --transition-cubic-bezier:all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  

  --transform-scale: scale(1.1);

  --color-primary:#0D47A1;
  --color-primary-hover: rgba(13, 71,161,0.3);
  --color-primary-hover-darker: rgba(13, 71,161,0.7);
  --color-secondary:#115DCF;
  --color-secondary-hover:rgba(17,93,207, 0.3);
  --color-secondary-hover-darker:rgba(17,93,207, 0.7);
  --color-tertiary:#6AABFF;
  --color-tertiary-hover: rgba(106, 171, 255, 0.3);
  --color-tertiary-hover-darker: rgba(106, 171, 255, 0.7);
  --color-white:#F3F3F3;
  --color-dark-gray:#c0c0c0;
  --color-light-gray:#d9d9d9;
  --color-black:#343A40;
}

/* Coding CSS */

body {
  margin: 0 auto;
  font-family: "Manrope";
  color: var(--color-black);
}


/* KUSTOMISASI */

.text {
  font-size: 1rem;
  text-align: justify;
}

.text-half{
  font-size: 0.5rem;
}

.text-3per4{
  font-size: 0.75rem;
}

.text-2{
  font-size: 2rem;
}

.text-light {
  font-weight: lighter;
}

.text-bold {
  font-weight: bold;
}

.text-hero {
  font-size: 3rem;
  font-weight:bolder;
  text-align: center;
}

.text-hero-left {
  font-size: 3rem;
  font-weight:bolder;
  text-align:left;
}

.text-title{
  font-size: 2rem;
}

.text-title-bold{
  font-size: 2rem;
  font-weight: bold;
}

.white{
  color:white;
}

.black{
  color: black
}

.text-shadow{
  text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}

.text-left{
    text-align: left;
}

.text-middle{
  text-align: center;
}

.text-right{
    text-align: right;
}


/* NAVBAR */

#navbar {
  height: 90px;
  max-width: 100%;

  padding: var(--padding-navbar);
  margin: 0px auto;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1100;

  transition: var(--transition);
}

#navbar.shrink{
  max-width: 45%;
  margin: 0px auto;
  transition: var(--transition);

}

#navbar-analisis{
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;

  transition: var(--transition);

}


/* FOOTER */

.container-footer{
  background-color: #333333;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 20px;
  margin:var(--margin-footer);

  height: 10rem;
}

.img-footer{
  display: flex;
  align-items: center;
  height:60%;
}




/* -----------------------------------------------------index.html----------------------------------------------------- */

/* NAVBAR */
.container-navbar{
  background-color: rgba(232, 244, 234, 0.1);
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%); /* For Safari support */

  height: inherit;

  display: flex;
  justify-content: space-between;
  align-items: center;


  border-radius: 20px;

  transition: var(--transition);
}

.container-navbar.shrink{
  background-color: rgba(54, 54, 54, 0.5);
  transition: var(--transition);
}


.navbar-left {
  height: inherit;
  display: flex;
  padding: var(--padding-default);
}
.navbar-right {
  height: inherit;
  display: flex;
  align-items: stretch;
  padding: var(--padding-default);
  gap: var(--gap-children-step-2);
}

.button-navbar {
  background-color: rgba(232, 244, 234, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 20px 15px;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: none;
  text-decoration: none;

  transition: var(--transition);
}

.button-navbar:hover {
  background-color: rgba(13, 71, 161, 0.2);
}

.button-navbar.shrink {
  background-color: rgba(244, 232, 232, 0.1);
}

.button-navbar.shrink:hover {
  background-color: rgba(13, 71, 161, 0.8);;
}

.text-button-navbar {
  color: #333;
  font-size: 0.75rem;
  font-weight: bold;

  transition: var(--transition);
}

.text-button-navbar.shrink{
  color: #ffffff
}


/* UTAMA */
.container {
  display: flex;
  flex-direction: column;
  position: relative;

  gap: var(--gap-container);
}

.container-1 {
  height: 100vh;

  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-image: var(--bg-hero);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container-2 {
  display: flex;
  flex-direction: column;
  gap: var(--gap-children);

  margin: var(--margin-default);
}

.container-2-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-parent);
}

.container-2-2-1 {
  flex-grow: 5;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  gap: var(--gap-children);
}

.container-2-2-1-1{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}


.cloropethmap {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius-step-1);
}

.container-overlay-cloropethmap {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  width: auto;
  height: auto;
  gap: var(--gap-children-step-2);
  border-radius: var(--border-radius-step-2);
  z-index: 1001; 
  pointer-events: auto;
}


.overlay-cloropethmap{
  background-color: rgba(48, 48, 48, 0.5);
  color: white;
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%); /* For Safari support */

  padding: var(--padding-default);
  border-radius: var(--border-radius-step-2);

  text-decoration: none;
  transition: var(--transition);
}

.overlay-cloropethmap:hover{
  background-color: var(--color-primary-hover-darker);
  transform: var(--transform-scale);

  transition: var(--transition);
}

.container-2-2-1-2{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: var(--gap-children);
}

.container-indikator{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-children-step-3);
}
.indikator-biru{
  background-color: blue;
  width: 1rem;
  height: 1rem;
  border-radius: var(--border-radius-step-3);
}

.indikator-hijau{
  background-color: green;
  width: 1rem;
  height: 1rem;
  border-radius: var(--border-radius-step-3);
}

.indikator-orange{
  background-color: orange;
  width: 1rem;
  height: 1rem;
  border-radius: var(--border-radius-step-3);
}

.indikator-merah{
  background-color: red;
  width: 1rem;
  height: 1rem;
  border-radius: var(--border-radius-step-3);
}

.indikator-ungu{
  background-color: purple;
  width: 1rem;
  height: 1rem;
  border-radius: var(--border-radius-step-3);
}

.container-2-2-2 {
  flex-grow: 5;
  flex-basis: 0;
  display: flex;
  flex-direction: column;

  gap: var(--gap-children);
}

.container-dropdown-2-2-2{
  display: flex;
  justify-content: space-between;
  gap: var(--gap-children-step-2);
  
}

.dropdown-2-2-2 {
  background-color: var(--color-light-gray);
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: none;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 1rem;
  color: black;
  cursor: pointer;
  border: none;

  background-image: linear-gradient(45deg, transparent 50%, black 50%),
                    linear-gradient(135deg, black 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(50% - 5px),
                       calc(100% - 15px) calc(50% - 5px);
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
}

select.dropdown-2-2-2{
  font-family: 'Manrope', sans-serif;
}

select.dropdown-2-2-2:focus {
  outline: none;
  box-shadow: 0 0 0 2px #666;
}

select.dropdown-2-2-2:focus option:first-child {
    display: none;
}

.container-aigen{
  height: inherit;

  background-color: var(--color-primary);
  
  display: flex;
  align-items: center;

  padding: var(--padding-default);
  gap: var(--gap-children-step-2);

  border-radius: var(--border-radius-step-3);
}

.container-aigen-response{
  background-color: var(--color-dark-gray);
  flex-grow: 1;
  border-radius: var(--border-radius-step-2);
  padding: var(--padding-default);
  color: #333333;

}

.container-mention{
  display: flex;
  justify-content: flex-end;
  

  height: inherit;
  gap:var(--gap-children)
}

.ai-mention{
  height: 2rem;
}

.container-3{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:var(--gap-parent);

  margin: var(--margin-default);
}

.text-hero-container-3{
  display: flex;
  justify-content: center;
  align-items: center;
  height:var(--height-text-hero)
}

.container-link{
  display: flex;
  justify-content:center ;
  flex-direction: row;
  gap: var(--gap-children);

}

.link{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--color-light-gray);

  height: 12rem;
  width: 12rem;

  padding: var(--padding-default-large);
  border-radius: var(--border-radius-step-1);

  text-decoration: none;
  transition: var(--transition);
}

.link:hover{
  transform: var(--transform-scale);
}

.img-link{
  height: 70%;
  object-fit: contain;
  margin: 0 auto;
}

.p-link{
  height: 30%;
}

.container-4{
  display: flex;
  flex-direction: row;
  gap: var(--gap-parent);
  margin: var(--margin-default);
  align-items: stretch;
}

.container-4-1{
  display: flex;
  flex-direction: column;
  gap: var(--gap-children);
}
.text-hero-container-4{
  display: flex;
  align-items: center;
  height:var(--height-text-hero)
}

.container-4-1-1{
  display: flex;
  flex-direction: row;
  gap:var(--gap-children);

}

.button-harga{
  background-color: var(--color-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  padding: var(--padding-default);
  border-radius: var(--border-radius-step-2);
  cursor: pointer;
  text-decoration: none;

  transition: var(--transition);
}

.button-stok{
  background-color: var(--color-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  padding: var(--padding-default);
  border-radius: var(--border-radius-step-2);
  cursor: pointer;
  text-decoration: none;

  transition: var(--transition);
}

.button-harga:hover {
  background-color: var(--color-primary);
  flex-grow: 3;
  transition: var(--transition); /* Menambahkan transisi agar lebih mulus */
}

.button-stok:hover {
  background-color: var(--color-primary);
  flex-grow: 3;
  transition: var(--transition); /* Menambahkan transisi agar lebih mulus */
}

.container-4-2{
  display: flex;
}

.img-container-4-2{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius-step-1);
}


/* -----------------------------------------------------about.html----------------------------------------------------- */

.container-navbar-aboutme{
  background-color: rgba(54, 54, 54, 0.5);
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%); /* For Safari support */

  height: inherit;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 20px;
}

.container-aboutme{
    
    font-family: IBM Plex Sans, sans-serif;
 
    margin: var(--margin-body-except-index);
    gap: var(--gap-children);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: stretch;
    
}

.collage-aboutme{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 kolom */
    grid-template-rows: repeat(3, auto);   /* 3 baris */
    flex-grow: 3;
    gap: var(--gap-children-step-3);
    padding: 0;
    list-style: none;

    width: 100%;
    height: 100%;

    margin: auto;
    
}
.img-aboutme{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: var(--transition);

    
}

.img-aboutme:hover {
  transform: var(--transform-scale);
  cursor: pointer;
}

.text-aboutme{
  
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  flex-grow: 2;
    
    
}


/* -----------------------------------------------------analisis.html----------------------------------------------------- */

/* NAVBAR */

.container-navbar-analisis {
  background-color: rgba(48, 48, 48, 0.5);
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;

  padding: var(--padding-default);
  border-radius: 20px;
  transition: var(--transition-cubic-bezier); 
}

.button-navbar-analisis{
  background-color: rgba(255, 0, 0, 0.5);
  color: white;
  padding: var(--padding-noside);
  font-weight: bold;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: none;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;

  height: 100%;

  overflow: hidden;
  max-width: 0; 
  opacity: 0;   
  margin: 0;  

  transition: var(--transition-cubic-bezier);
  
}

.logo-navbar-analisis{
  height: 100%;
  cursor: pointer;
  display: block;
}


.container-navbar-analisis:hover .button-navbar-analisis {
    max-width:10rem;
    opacity: 1;
    margin: var(--margin-right-small); 
    
    padding: var(--padding-default);

    transition: var(--transition-cubic-bezier); 
}

/* .container-navbar-analisis.active .logo-navbar-analisis {
    transform: var(--transform-scale);
} */

/* CONTENT */

.container-analisis{
  display: flex;
  flex-direction: column;
  position: relative;

  gap: var(--gap-container);
}

.container-1-analisis{
  height: 100vh;

  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-image:var(--bg-hero-analisis);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*  */
/*  */
/*  */
/* AGAR RESPONSIVE DI LAYAR KECIL */

@media (max-width: 768px) {

  :root {
    --gap-container: 7rem; 
  }

  .container-2-2, .container-aboutme {
    flex-direction: column;
  }

  .container-2-2-1,
  .container-2-2-2, .container-dropdown-2-2-2 {
    flex-basis: auto;
    flex-grow: unset;
    flex-wrap: wrap;
    width: 100%;
  }

  .container-4 {
    flex-basis: auto;
    flex-grow: 0;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .container-4-2{
    flex-basis: auto;
    flex-grow: 0;
    width: 100%;
  }
}


/* MAP */
#map {
  width: 100%;
  height: 500px;
  border-radius: var(--border-radius-step-1);
}